@model List<PersonViewModel>

@{
    ViewData["Title"] = "Поздравлятор";
}

<div class="container">
    <div class="text-center"><h5>Дни рождения</h5></div>
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            <div class="text-center"><h6>Сегодня:</h6></div>
            <p />
            @foreach (var person in Model.Where(b => b.BirthDate.Month == DateTime.Now.Date.Month && DateTime.Now.Date.Day == b.BirthDate.Day))
            {
                <a class="link-dark text-decoration-none" asp-controller="Person" asp-action="Edit" asp-route-Id="@person.Id" role="link">
                    <h6>
                        <img src="@person.ImagePath" class="rounded-circle" style="width: 150px;" alt="Avatar" />
                        @person.FirstName @person.LastName @person.BirthDate.Date.ToShortDateString() Исполнилось @(DateTime.Now.Year - person.BirthDate.Year)

                    </h6>
                </a>
            }
        </div>
        <p />
        <div class="col-md-6 mx-auto">
            <div class="text-center"><h6>Ближайшие:</h6></div>
            @foreach (var person in Model.Where(p => p.BirthDate.Month - DateTime.Now.Date.Month > 0 || p.BirthDate.Day - DateTime.Now.Date.Day > 0))
            {
                <a class="link-dark text-decoration-none" asp-controller="Person" asp-action="Edit" asp-route-Id="@person.Id" role="link">
                    <h6>
                        <img src="@person.ImagePath" class="rounded-circle" style="width: 100px;" alt="Avatar" />
                        @person.FirstName @person.LastName @person.BirthDate.Date.ToShortDateString()
                    </h6>
                </a>
            }
        </div>
    </div>
</div>